<div class="background"></div>

<div class="login-container">

  <div class="login-card">

    <div class="logo">
      Fixly
    </div>

    <h1>Bem-vindo de volta</h1>

    <p>
      Acesse sua conta para gerenciar chamados,
      técnicos e clientes.
    </p>

    <form class="login-form">

      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Email</mat-label>

        <input
          matInput
          placeholder="Digite seu email">

      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Senha</mat-label>

        <input
          matInput
          type="password"
          placeholder="Digite sua senha">

      </mat-form-field>

      <button
        mat-raised-button
        class="btn-login">

        Entrar

      </button>

    </form>

    <span class="version">
      Fixly © 2026
    </span>

  </div>

</div>