<div class="background"></div>

<div class="login-container">

  <div class="login-card">

    <mat-icon class="login-icon">
        security
    </mat-icon>

    <div class="logo">
      Fixly
    </div>

    <h1>Bem-vindo de volta</h1>

    <p>
      Acesse sua conta para gerenciar chamados,
      técnicos e clientes.
    </p>

    <form class="login-form">

      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Email</mat-label>


        <input [formControl]="email" required [(ngModel)]="credenciais.email" name="email" matInput placeholder="Digite seu email">


      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Senha</mat-label>


        <input [formControl]="senha" required [(ngModel)]="credenciais.senha" name="senha" matInput type="password"  placeholder="Digite sua senha">

      </mat-form-field>

      <button (click)="logar()" [disabled]="!validarCampos()" mat-raised-button class="btn-login">


        Entrar

      </button>

    </form>

    <span class="version">
      Fixly © 2026
    </span>

  </div>

</div>